*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body{
  background: url('../img/img3.akspic.ru-vektornaya_grafika-grafika-vektor-svet-dizajn-3000x2000.jpg') center / cover no-repeat;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .card{
  text-align: center;
  width: 300px;
  border: 1px solid ;
  margin-top: 10%;
  background-color: #838996;
}
.card_title{
  border-bottom: 1px solid;
  padding: 10px 0;
}
.card_body{
  padding: 20px;
  border-bottom: 1px solid;
}
.card_body input{
  padding: 10px;
  width: 250px;
  margin: 5px 0;
}
.auth_btn {
  padding: 5px 10px;
  background-color: #83ED09;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  transition: .3s;
  width: 84%;
  margin: 10px 0;
}
.auth_btn:hover {
  background-color: green;
}
.email,
.pass{
  border: 1px solid black;
}
.email.active,
.pass.active{
  border: 1px solid red;
}
.key{
  display: none;
}
.key.active{
  display: block;
}