* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  border: none;
  outline: none;
  list-style: none;
}
body{
  background: url('../img/img3.akspic.ru-vektornaya_grafika-grafika-vektor-svet-dizajn-3000x2000.jpg') center / cover no-repeat;
  height: 100vh;
  background-attachment: fixed;
}
.header_back {
  background-color: rgba(0, 0, 0, .7);
  color: white;
}

.header {
  width: 90%;
  margin: 0 auto;
  padding: 20px 5px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_list {
  display: flex;
}

.nav_list button {
  margin: 0 15px;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 10px;
  transition: .5s;
  background-color: transparent;
  color: white;
}

.nav_list button:hover {
  background-color: #6A5784;
}

.container {
  width: 30%;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin-top: 200px;
  position: relative;
  background-color: #838996;
}

.card_true {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  padding: 5px;
  margin: 30px 0;
  background-color: #838996;

}

.card_title {
  width: 250px;
  border-right: 1px solid;
  padding: 5px;
}

.card_body div {
  margin-bottom: 10px;
}

.card_btn {
  text-align: center;
  margin-top: 10px;
}

.answer_btn {
  padding: 10px 20px;
  background-color: #83ED09;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  transition: .3s;
}

.answer_btn:hover {
  background-color: green;
}

.errorText {
  position: absolute;
  top: -50px;
  left: -50px;
  color: red;
  transition: .5s;
  opacity: 0;
}

.errorText.active {
  left: 10px;
  opacity: 1;
}

.card_answer label {
  cursor: pointer;
}

.answerList {
  width: 80%;
}
.true_list{
  margin: 10px 0;
}
.true_list li {
  margin: 10px 0 0 20px;
  list-style: lower-alpha;
}

.correct {
  color: green;
}

.myAnswer {
  color: yellow;
}

.reload_btn {
  padding: 8px 15px;
  background-color: #1C3FED;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  transition: .3s;
}

.current{
  margin-left: 100px;
}

/* modal window */



@media (max-width:1030px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card {
    display: block;
    margin: 120px auto 0;
    width: 300px;
    padding: 10px;
  }

  .card_title {
    width: 100%;
    margin-bottom: 20px;
    border: none;
  }

  .navbar h1 {
    display: none;
  }

  .card_true {
    margin: 30px auto 0;
    width: 300px;
  }
}